# ==========================
# Frontend
# ==========================
frontend/node_modules/
frontend/dist/

# ==========================
# Backend
# ==========================
backend/.gradle/
backend/build/
backend/out/

# ==========================
# IDE
# ==========================
.idea/
.vscode/
*.iml

# ==========================
# Environment
# ==========================
.env
.env.*

# ==========================
# OS
# ==========================
.DS_Store
Thumbs.db